body {
    background-color: rgb(116, 121, 131);
}

#container {
    height: 97vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar:hover {
    fill: rgba(0, 0, 0, 0.9)
}

.close {
    display: none
}