body {
    background-color: rgb(116, 121, 131);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
}

.bar:hover {
    fill: rgba(0, 0, 0, 0.9)
}

#tooltip {
    position: absolute;
    width: 200px;
    background-color: white;
    border-radius: 5px;
    padding: 4px;
    white-space: pre-wrap;
}

.border {
    border: 1px solid black;
}

.close {
    display: none;
    border: none
}